[submodule "packages/puzzle-editor/lib/emsdk"]
	path = packages/puzzle-editor/lib/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	shallow = true
[submodule "packages/puzzle-editor/lib/hog2"]
	path = packages/puzzle-editor/lib/hog2
	url = https://github.com/Samarium150/hog2.git
	branch = witness-editor
	shallow = true
